{
    "config": {
	    "log": "debug"
    },
    "source": {
	    "file": {"path": "./arbors.json"}
    },
    "extractor": {
	    "json": {}
    },
    "transformers": [
	    {"vertex": {"class": "ArborizationData"}},
	    {"edge": {"class": "Owns", "joinFieldName": "neuron", 
		      "direction": "in", "lookup": "Neuron.name"}}
    ],
    "loader": {
        "orientdb": {
            "dbURL": "${db}",
            "dbType": "graph",
            "dbUser": "admin",
            "dbPassword": "admin",
            "serverUser": "admin",
            "serverPassword": "admin",
            "wal": false,
            "classes": [
                {"name": "Neuron", "extends": "BioNode"},
                {"name": "Owns", "extends": "Relationship"}
            ],
            "indexes": [
                {"class": "Neuron", "fields": ["name:string"], "type": "NOTUNIQUE"}
            ]
        }
    }
}
